 <% if (locals.errors) {%>
            <% errors.forEach((err)=> {%>

                <div class="alert alert-danger" role="alert">
                    <strong>Notice : !</strong> <%= err.msg%>
                  </div>
            <%})%>
        <%}%>



<% if (locals.successMsg && locals.successMsg!="") {%>
    
    <div class="alert alert-success" role="alert">
        <strong>Notice : !</strong> <%= successMsg%>
      </div>
            <%}%>

        