<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

<div class="container mt-3">

    <h5 class="display-6 col-md-6 offset-md-3 mb-4">Ajouter un nouveau Event</h5>

    <div class="col-md-6 offset-md-3">
        <hr>
        <% if (errors) {%>
            <% errors.forEach((err)=> {%>

                <div class="alert alert-danger" role="alert">
                    <strong>Notice : !</strong> <%= err.msg%>
                  </div>





               <!--  <div class="alert alert-danger"> -->
                        
            
            <%})%>
        <%}%>
        
        <form action="create" method="post">
            <div class="form-group" >
                <label for="title">Titre :</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group" method="post">
                <label for="description">Description :</label>
                <textarea rows="6" name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-group" method="post">
                <label for="date">Date :</label>
                <input type="date" name="date" id="date" class="form-control">
            </div>
            <div class="form-group" method="post">
                <label for="location">Location :</label>
                <input type="text" name="location" id="location" class="form-control">
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Ajouter" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-secondary">
        </form>

        
    </div>
</div>

<%- include('../partials/footer.ejs') -%>
